.notification {
    color: green;
    border-color: lightgreen;
    border-style: solid;
    border-radius: 5px;
}

.error {
    color: red;
    border-color: maroon;
    border-style: solid;
    border-radius: 5px;
}

.blogInfoBox {
    border-color: black;
    border-style: solid;
    padding-left: 5px;
    margin-bottom: 5px;
}